
.container{
    border: 2px solid blue;
    margin-top: 20%;
}

/* .row {
    border: 2px solid red;
}

.col {
    border: 2px solid yellow; 
} */
/* .button{
    margin-left: auto;
    margin-right: auto;
} */